/* Footer.css */

.footer-container {
    background-color: #A74D4A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container p {
    margin: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    color: #fff; /* Change the color as needed */
    margin: 0 10px; /* Adjust the margin to add spacing between icons */
}
