/* App.css */

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #EAE6E1;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

section {
  margin: 20px auto;
  max-width: 800px;
}

h2 {
  color: #007bff;
}

footer {
  background-color: #007bff;
  color: #EAE6E1;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  height: 50px; /* Fixed height for the navbar */
}

a.navbar__title {
  text-decoration: none;
  color: #D2CDC7;
  font-family: 'Spectral', sans-serif;
  margin: 0;
  font-size: xx-large;
}

.navbar__links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #D2CDC7;
}

.Rental {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #008080;
}

.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #008080;
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EAE6E1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-button {
  padding: 10px 20px;
  background-color: #A74D4A;
  color: white;
  border: 2px solid #A74D4A;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 150px;
}

.hero-button:hover {
  background-color: #A74D4A;
  color: #fff;
}

.logo {
  max-height: 60px; /* Adjust the height of the logo */
  width: auto; /* Allow the width to adjust automatically */
}
