body {
  background-color: #EAE6E1; 
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  margin: 30px auto; 
  padding-right: 39px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
  max-height: calc(100vh - 100px); 
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="date"],
.login-form input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.create-account-button {
  background-color: #A74D4A; 
  color: white;
  font-weight: bold;
}

.login-form input:focus,
.login-form button:focus,
.login-form a:focus {
  outline: none;
}

.error {
  color: red;
}

.footer-container {
  background-color: #a74d4a;
  color: #fff;
  padding: 0 px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center; 
}
